.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.helper-text {
  padding-top: 10px;
}

.login-link {
  text-decoration: none;
  color: #90caf9;
}

.login-link:hover {
  color: #42a5f5;
}
