.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-text {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.footer-text:hover {
  color: #90caf9;
}
